.header {
  text-align: center;
  font-size: 64px;
  color: #FFFFFF;
}

.subheading {
  text-align: center;
  color: #FFFFFF;
}

.heading {
  background: #000000;
  margin: 50px 0;
  padding: 50px 0;
}

.pic {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 7%;
  padding: 3%;
}

.lorem-description {
  word-wrap: wrap;
  font-size: 20px;
}

.content {
  margin: 0 3%;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: yellow;
  }

  .pic {
    width: 60%;
    margin-left: 5%;
    margin-right: 7%;
    padding: 3%;
    align-content: center;
  }

  

}